.about_us_area{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.about_us_area .content_area{
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
}

.about_us_area .content_area .content_heading{
        font-size: 28px;
        font-weight: 600;
        color: #0952BA;
        margin-bottom: 20px;
}

.about_us_area .img_area{
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
}

@media screen and (max-width: 992px){
    .about_us_area .content_area .content_heading{
        font-size: 24px;
    }

    .about_us_area .content_area .content_para{
        font-size: 14px;
    }
}

@media screen and (max-width: 768px){
    .about_us_area{
        gap: 20px;
        flex-direction: column-reverse;
    }

    .mission_area{
        flex-direction: column;
    }
    .about_us_area .content_area,
    .about_us_area .img_area{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about_us_area .content_area{
        text-align: center;
    }
}

.founder_wrapper{
    background: #E2EEFF;
}

.testimonial_item{
    padding: 25px 15px;
    border: 1px solid #E2EEFF;
    border-radius: 10px;
    height: 100%;
    box-shadow: 4px 4px 4px #0000001a;
}

.testimonial_name{
    font-weight: 600;
    margin-top: 15px;
    font-size: 14px;
}

.testimonial_swiper .swiper-wrapper{
    align-items: stretch;
}

.testimonial_swiper .swiper-wrapper .swiper-slide{
    height: unset !important;
}

