.sub_products_wrapper .heading{
    font-size: 24px;
    font-weight: 600;
    color: #0952BA;
    margin-bottom: 20px;
}

.sub_products_wrapper ul li{
    font-size: 16px;
    color: #000;
    margin-bottom: 8px; 
    padding: 10px;
    border: 1px solid #E0E0E0;
}

.sub_products_wrapper ul li span{
    margin-left: 8px;
}

.category_item{
    padding: 0 20px;
    border: 1px solid #E0E0E0;
}
.category_item .category_item_img{
    padding: 20px 0;
    border-bottom: 1px solid #E0E0E0;
}

.category_item .category_item_img img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.category_item .category_item_content{
    padding: 20px 0;
}

.category_item .category_item_content .category_item_content_heading{
    font-size: 18px;
    font-weight: 600;
    color: #0952BA;
    margin-bottom: 10px;
}

.category_item .category_item_content .category_item_content_description{
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
}

.category_item .category_item_content .category_item_title{
    font-size: 16px;
    color: #000;
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 6px;
}

.category_item .category_item_content ul{
    margin-bottom: 10px;
}
.category_item .category_item_content ul li{
    font-size: 14px;
    color: #000;
    font-weight: 400;
    margin-bottom: 6px;
    position: relative;
    display: flex;
    align-items: center;
}

.category_item .category_item_content ul li svg{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.products_grid{
    padding-bottom: 70px;
}